  <!-- START: footer -->
  <footer role="contentinfo" class="probootstrap-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="probootstrap-footer-widget">
            <p class="mt40"><img alt="A imagem não foi carregada corretamente." src="<?php echo base_url(); ?>assets/img/logo_sm.png" class="hires" width="120" height="33" alt="Free HTML5 Bootstrap Template by uicookies.com"></p>
            <p>A Atlantis é um site de reservas de hotéis e hospedagens internacionais. Dedicados à proporcionar o que há de melhor para os nossos clientes, contamos com uma grande referência no mercado hoteleiro em diversas partes do mundo.</p>
            <p><a title="Ler Mais" href="#" class="link-with-icon">Ler Mais <i class=" icon-chevron-right"></i></a></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="probootstrap-footer-widget">
            <h3>Blog</h3>
            <ul class="probootstrap-blog-list">
              <li>
                <a title="Ver Mais" href="<?php echo base_url(); ?>/pagina/blog">
                  <figure class="probootstrap-image"><img alt="A imagem não foi carregada corretamente." src="<?php echo base_url(); ?>assets/img/img_1.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                  <div class="probootstrap-text">
                    <h4>Quartos em Istambull</h4>
                    <span class="meta">2 de Agosto, 2018</span>
                    <p>Comentários sobre Istambull</p>
                  </div>
                </a>
              </li>
              <li>
                <a title="Ver Mais" href="<?php echo base_url(); ?>/pagina/blog">
                  <figure class="probootstrap-image"><img alt="A imagem não foi carregada corretamente." src="<?php echo base_url(); ?>assets/img/img_2.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                  <div class="probootstrap-text">
                    <h4>Destinos em Java</h4>
                    <span class="meta">4 de Janeiro, 2019</span>
                    <p>Artigo sobre os principais destinos exóticos</p>
                  </div>
                </a>
              </li>
              <li>
                <a title="Ver Mais" href="<?php echo base_url(); ?>/pagina/blog">
                  <figure class="probootstrap-image"><img alt="A imagem não foi carregada corretamente." src="<?php echo base_url(); ?>assets/img/img_3.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                  <div class="probootstrap-text">
                    <h4>Bahamas Inesquecível</h4>
                    <span class="meta">9 Fevereiro, 2019</span>
                    <p>Relatos sobre as marivilhos praias</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="probootstrap-footer-widget">
            <h3>Contato</h3>
            <ul class="probootstrap-contact-info">
              <li><i class="icon-location2"></i> <span>Rua Sete, 798 - Parque da Colina</span></li>
              <li><i class="icon-mail"></i><span>atendimento@invictaweb.com.br</span></li>
              <li><i class="icon-phone2"></i><span>(35) 9 9218 - 8006</span></li>
            </ul>            
          </div>
        </div>
      </div>
      <div class="row mt40">
        <div class="col-md-12 text-center">
          <ul class="probootstrap-footer-social">
            <li><a title="Twiter" href=""><i class="icon-twitter"></i></a></li>
            <li><a title="Facebook" href=""><i class="icon-facebook"></i></a></li>
            <li><a title="Instagram" href=""><i class="icon-instagram2"></i></a></li>
          </ul>
          <p>
            <small>&copy; 2019 Desenvolvido por <a title="Ver Mais" href="https://www.invictaweb.com.br" target="_blank">InvictaWeb</a>. Todos os direitos reservados.</small>
          </p>
          
        </div>
      </div>
    </div>
  </footer>
  <!-- END: footer -->

  <script src="{% static 'js/scripts.min.js'"></script>
  <script src="{% static 'js/main.min.js'"></script>
  <script src="{% static 'js/main.js'"></script>
  <script src="{% static 'js/custom.js'"></script>


</body>
</html>