  <!-- START: header -->

  <header role="banner" class="probootstrap-header">
    <!-- <div class="container"> -->
      <div class="row">
        <a title="Bluesky" href="<?php echo base_url(); ?>home" class="probootstrap-logo visible-xs"><img alt="A imagem não foi carregada corretamente." src="<?php echo base_url(); ?>assets/img/logo_sm.png" class="hires" width="120" height="33" alt="Free Bootstrap Template by uicookies.com"></a>
        
        <a title="Menu" href="#" class="probootstrap-burger-menu visible-xs"><i>Menu</i></a>
        <div class="mobile-menu-overlay"></div>

        <nav role="navigation" class="probootstrap-nav hidden-xs">
          <ul class="probootstrap-main-nav">
            <li class="active"><a title="Home" href="<?php echo base_url(); ?>home">Home</a></li>
            <li><a title="Sobre" href="<?php echo base_url(); ?>sobre">Sobre</a></li>
            <li><a title="Nossos Quartos" href="<?php echo base_url(); ?>quartos">Nossos Quartos</a></li>
            <li class="hidden-xs probootstrap-logo-center"><a title="Bluesky" href="<?php echo base_url(); ?>"><img alt="A imagem não foi carregada corretamente." src="<?php echo base_url(); ?>assets/img/logo_md.png" class="hires" width="181" height="50" alt="Free Bootstrap Template by uicookies.com"></a></li>
            <li><a title="Reservas" href="<?php echo base_url(); ?>reservas">Reservas</a></li>
            <li><a title="Blog" href="<?php echo base_url(); ?>blog">Blog</a></li>
            <li><a title="Contato" href="<?php echo base_url(); ?>contato">Contato</a></li>
          </ul>
          <div class="extra-text visible-xs">
            <a title="Menu" href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
            <h5>Conecte-se Conosco</h5>
            <ul class="social-buttons">
              <li><a title="Twiter" href=""><i class="icon-twitter"></i></a></li>
              <li><a title="Facebook" href=""><i class="icon-facebook"></i></a></li>
              <li><a title="Instagram" href=""><i class="icon-instagram2"></i></a></li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- </div> -->
    </header>
  <!-- END: header -->