
  <section class="probootstrap-slider flexslider probootstrap-inner">
    <ul class="slides">
       <li style="background-image: url(<?php echo base_url(); ?>assets/img/slider_1.jpg);" class="overlay">
          <div class="container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="probootstrap-slider-text text-center">
                  <p><img alt="A imagem não foi carregada corretamente." src="<?php echo base_url(); ?>assets/img/curve_white.svg" class="seperator probootstrap-animate" alt="Free HTML5 Bootstrap Template"></p>
                  <h1 class="probootstrap-heading probootstrap-animate"><?php echo $tema ?></h1>
                  <div class="probootstrap-animate probootstrap-sub-wrap">Veja os principais comentários de nossos clientes a respeito dos nossos quartos!</div>
                </div>
              </div>
            </div>
          </div>
        </li>
    </ul>
  </section>
  
  <section class="probootstrap-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="probootstrap-hentry mb30">
            <p><a title="Quarto Clássico" href="<?php echo base_url(); ?>pagina/detalhes/img_1.jpg/Quarto Clássico para Casal"><img alt="A imagem não foi carregada corretamente." src="<?php echo base_url(); ?>assets/img/img_1.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></a></p>
            <h3 class="mt0"><a title="Ver Mais" href="<?php echo base_url(); ?>pagina/detalhes/img_1.jpg/Quarto Clássico para Casal" class="hover-reverse">Quarto Clássico para Casal</a></h3>
            <p class="text-mute">12 Março, 2019 • <i class="icon-bubble"></i> 28 Comentários</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="probootstrap-hentry mb30">
            <p><a title="Quarto Médio"  href="<?php echo base_url(); ?>pagina/detalhes/img_2.jpg/Quarto Médio para Um"><img alt="A imagem não foi carregada corretamente." src="<?php echo base_url(); ?>assets/img/img_2.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></a></p>
            <h3 class="mt0"><a title="Ver Mais" href="<?php echo base_url(); ?>pagina/detalhes/img_2.jpg/Quarto Médio para Um" class="hover-reverse">Quarto Médio para Um</a></h3>
            <p class="text-mute">14 Fevereiro, 2019 • <i class="icon-bubble"></i> 15 Comentários</p>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="probootstrap-hentry mb30">
            <p><a title="Quarto Simples"  href="<?php echo base_url(); ?>pagina/detalhes/img_3.jpg/Quarto Simples para Um"><img alt="A imagem não foi carregada corretamente." src="<?php echo base_url(); ?>assets/img/img_3.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></a></p>
            <h3 class="mt0"><a title="Ver Mais" href="<?php echo base_url(); ?>pagina/detalhes/img_3.jpg/Quarto Simples para Um" class="hover-reverse">Quarto Simples para Um</a></h3>
            <p class="text-mute">05 Janeiro, 2019 • <i class="icon-bubble"></i> 97 Comentários</p>
          </div>
        </div>

        <div class="clearfix visible-lg-block visible-md-block"></div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="probootstrap-hentry mb30">
            <p><a title="Quarto Grande"  href="<?php echo base_url(); ?>pagina/detalhes/img_3.jpg/Quarto Grande para Lua de Mel"><img alt="A imagem não foi carregada corretamente." src="<?php echo base_url(); ?>assets/img/img_3.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></a></p>
            <h3 class="mt0"><a title="Ver Mais" href="<?php echo base_url(); ?>pagina/detalhes/img_3.jpg/Quarto Grande para Lua de Mel" class="hover-reverse">Quarto Grande para Lua de Mel</a></h3>
            <p class="text-mute">15 Dezembro, 2018 • <i class="icon-bubble"></i> 23 Comentários</p>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="probootstrap-hentry mb30">
            <p><a title="Quarto à Beira Mar"  href="<?php echo base_url(); ?>pagina/detalhes/img_2.jpg/Quarto à Beira Mar para Viagem de Férias"><img alt="A imagem não foi carregada corretamente." src="<?php echo base_url(); ?>assets/img/img_2.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></a></p>
            <h3 class="mt0"><a title="Ver Mais" href="<?php echo base_url(); ?>pagina/detalhes/img_2.jpg/Quarto à Beira Mar para Viagem de Férias" class="hover-reverse">Quarto à Beira Mar para Viagem de Férias</a></h3>
            <p class="text-mute">28 Novembro, 2018 • <i class="icon-bubble"></i> 48 Comentários</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="probootstrap-hentry mb30">
            <p><a title="Suite Presidencial"  href="<?php echo base_url(); ?>pagina/detalhes/img_1.jpg/Suite Presidencial para Viagens Formais"><img alt="A imagem não foi carregada corretamente." src="<?php echo base_url(); ?>assets/img/img_1.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></a></p>
            <h3 class="mt0"><a title="Ver Mais" title="" href="<?php echo base_url(); ?>pagina/detalhes/img_1.jpg/Suite Presidencial para Viagens Formais" class="hover-reverse">Suite Presidencial para Viagens Formais</a></h3>
            <p class="text-mute">29 Junho, 2018 • <i class="icon-bubble"></i> 35 Comentários</p>
          </div>
        </div>
        <div class="clearfix visible-lg-block visible-md-block"></div>

      </div>
    </div>
  </section>

  <section class="probootstrap-half">
    <div class="image" style="background-image: url(<?php echo base_url(); ?>assets/img/slider_1.jpg);"></div>
    <div class="text">
      <div class="probootstrap-animate fadeInUp probootstrap-animated">
        <h2 class="mt0">Melhor Hotel 5 estrelas</h2>
        <p><img alt="A imagem não foi carregada corretamente." src="<?php echo base_url(); ?>assets/img/curve_white.svg" class="seperator" alt="Free HTML5 Bootstrap Template"></p>
        <div class="row">
          <div class="col-md-6">
            <p>Pesquise a rede de hotel de sua preferência e encontre um quarto de hotel que seja perfeito para você. Encontre desde hotéis all inclusive em Portugal até hotéis baratos para hospedagens em grandes eventos e que oferecem economia!</p>
          </div>
          <div class="col-md-6"><p>Use os nossos mapas para encontrar e reservar uma hospedagem nos melhores hotéis, seja de frente para o mar, em um resort ou pousada e ainda, em um destino montanhoso. Temos hotéis fazenda e chalés. Compare os seguintes benefícios antes de sua reserva.</p>        
          </div>
        </div>
        <p><a title="Ler Mais" href="#" class="link-with-icon white">Ler Mais <i class=" icon-chevron-right"></i></a></p>
      </div>
    </div>
  </section>