
  <section class="probootstrap-slider flexslider probootstrap-inner">
    <ul class="slides">
       <li style="background-image: url(<?php echo base_url(); ?>assets/img/slider_1.jpg);" class="overlay">
          <div class="container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="probootstrap-slider-text text-center">
                  <p><img alt="A imagem não foi carregada corretamente." src="<?php echo base_url(); ?>assets/img/curve_white.svg" class="seperator probootstrap-animate" alt="Free HTML5 Bootstrap Template"></p>
                  <h1 class="probootstrap-heading probootstrap-animate"><?php echo $tema ?></h1>
                  <div class="probootstrap-animate probootstrap-sub-wrap">Até quando a sua vontade de viajar vai ser passageira e você não? Confira nossos quartos e reserve um agora mesmo!</div>
                </div>
              </div>
            </div>
          </div>
        </li>
    </ul>
  </section>
  
  <section class="probootstrap-section">
    <div class="container">
      <div class="row">

        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="probootstrap-room">
            <a  title="Quarto Grand Blunner" href="<?php echo base_url(); ?>pagina/detalhes/img_4.jpg/Quarto Grand Blunner"><img alt="A imagem não foi carregada corretamente." src="<?php echo base_url(); ?>assets/img/img_4.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></a>
            <div class="text">
              <h3>Quarto Grand Blunner</h3>
              <p>Apartir de <strong>R$ 179.00/Noite</strong></p>
              <div class="post-meta mb30">
                <ul>
                  <li><span class="review-rate">4.7</span> <i class="icon-star"></i> 252 Avaliações</li>
                  <li><i class="icon-user2"></i> 2 Pessoas</li>
                </ul>
              </div>
              <p><a href="<?php echo base_url(); ?>pagina/reservas" class="btn btn-primary" role="button" title="reservar">Reserve agora por R$ 145.00</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="probootstrap-room">
            <a title="Quarto Clássico" href="<?php echo base_url(); ?>pagina/detalhes/img_2.jpg/Quarto Clássico"><img alt="A imagem não foi carregada corretamente." src="<?php echo base_url(); ?>assets/img/img_2.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></a>
            <div class="text">
              <h3>Quarto Clássico</h3>
              <p>Apartir de <strong>R$ 105.00/Noite</strong></p>
              <div class="post-meta mb30">
                <ul>
                  <li><span class="review-rate">4.5</span> <i class="icon-star"></i> 257 Avaliações</li>
                  <li><i class="icon-user2"></i> 3 Pessoas</li>
                </ul>
              </div>
              <p><a href="<?php echo base_url(); ?>pagina/reservas" class="btn btn-primary" role="button" title="reservar">Reserve agora por R$ 90.00</a></p>
            </div>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="probootstrap-room">
            <a title="Quarto Ultra Superior" href="<?php echo base_url(); ?>pagina/detalhes/img_3.jpg/Quarto Ultra Superior"><img alt="A imagem não foi carregada corretamente." src="<?php echo base_url(); ?>assets/img/img_3.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></a>
            <div class="text">
              <h3>Quarto Ultra Superior</h3>
              <p>Apartir de <strong>R$ 160.00/Noite</strong></p>
              <div class="post-meta mb30">
                <ul>
                  <li><span class="review-rate">4.4</span> <i class="icon-star"></i> 452 Avaliações</li>
                  <li><i class="icon-user2"></i> 2 Pessoas</li>
                </ul>
              </div>
              <p><a href="<?php echo base_url(); ?>pagina/reservas" class="btn btn-primary" role="button" title="reservar">Reserve agora por R$ 150.00</a></p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="probootstrap-room">
            <a title="Suite Master" href="<?php echo base_url(); ?>pagina/detalhes/img_5.jpg/Suite Master"><img alt="A imagem não foi carregada corretamente." src="<?php echo base_url(); ?>assets/img/img_5.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></a>
            <div class="text">
              <h3>Suite Master</h3>
              <p>Apartir de <strong>R$ 120.00/Noite</strong></p>
              <div class="post-meta mb30">
                <ul>
                  <li><span class="review-rate">4.8</span> <i class="icon-star"></i> 326 Avaliações</li>
                  <li><i class="icon-user2"></i> 4 Pessoas</li>
                </ul>
              </div>
              <p><a href="<?php echo base_url(); ?>pagina/reservas" class="btn btn-primary" role="button" title="reservar">Reserve agora por R$ 99.00</a></p>
            </div>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="probootstrap-room">
            <a title="Quarto para Casal" href="<?php echo base_url(); ?>pagina/detalhes/img_6.jpg/Quarto para Casal"><img alt="A imagem não foi carregada corretamente." src="<?php echo base_url(); ?>assets/img/img_6.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></a>
            <div class="text">
              <h3>Quarto para Casal</h3>
              <p>Apartir de <strong>R$ 60.00/Noite</strong></p>
              <div class="post-meta mb30">
                <ul>
                  <li><span class="review-rate">4.2</span> <i class="icon-star"></i> 252 Avaliações</li>
                  <li><i class="icon-user2"></i> 3 Pessoas</li>
                </ul>
              </div>
              <p><a href="<?php echo base_url(); ?>pagina/reservas" class="btn btn-primary" role="button" title="reservar">Reserve agora por R$ 49.00</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="probootstrap-room">
            <a title="Quarto para Dois" href="<?php echo base_url(); ?>pagina/detalhes/img_7.jpg/Quarto para Dois"><img alt="A imagem não foi carregada corretamente." src="<?php echo base_url(); ?>assets/img/img_7.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></a>
            <div class="text">
              <h3>Quarto para Dois</h3>
              <p>Apartir de <strong>R$ 65.00/Noite</strong></p>
              <div class="post-meta mb30">
                <ul>
                  <li><span class="review-rate">4.9</span> <i class="icon-star"></i> 545 Avaliações</li>
                  <li><i class="icon-user2"></i> 2 Pessoas</li>
                </ul>
              </div>
              <p><a href="<?php echo base_url(); ?>pagina/reservas" class="btn btn-primary" role="button" title="reservar">Reserve agora por R$ 61.00</a></p>
            </div>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>

      </div>
  </section>
    <section class="probootstrap-section probootstrap-section-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="mt0">Porquê Escolher-nos?</h2>
          <p class="mb50"><img alt="A imagem não foi carregada corretamente." src="<?php echo base_url(); ?>assets/img/curve.svg" class="svg" alt="Free HTML5 Bootstrap Template"></p>
        </div>
        <div class="col-md-4">
          <div class="service left-icon left-icon-sm probootstrap-animate">
            <div class="icon">
              <i class="icon-check"></i>
            </div>            
            <div class="text">
              <h3>Milhares de Quartos e Hotéis</h3>
              <p>Seja para onde quer que você vá, pode se sentir em casa com a Atlantis. Confira centenas de hotéis e milhares de quartos em cada cantinho do globo!</p>
              <p><a href="<?php echo base_url(); ?>pagina/sobre" class="link-with-icon">Ler Mais <i class=" icon-chevron-right"></i></a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service left-icon left-icon-sm probootstrap-animate">
            <div class="icon">
              <i class="icon-check"></i>
            </div>
            <div class="text">
              <h3>Comidas &amp; Bebidas</h3>
              <p>Viajar é experimentar coisas novas inclusive a culinária. Então confira o que preparamos para você em cada lugar que quiser estar. Não perca tempo!</p>
              <p><a href="<?php echo base_url(); ?>pagina/sobre" class="link-with-icon">Ler Mais <i class=" icon-chevron-right"></i></a></p>
            </div>  
          </div>
        </div>
        <div class="col-md-4">
          <div class="service left-icon left-icon-sm probootstrap-animate">
            <div class="icon">
              <i class="icon-check"></i>
            </div>
            <div class="text">
              <h3>Aeroporto Taxi</h3>
              <p>Comodidade e segurança são sempre prioridades. Inclua em suas reservas um motorista para te levar a qualeur lugar quando quiser!</p>
              <p><a href="<?php echo base_url(); ?>pagina/sobre" class="link-with-icon">Ler Mais <i class=" icon-chevron-right"></i></a></p>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="probootstrap-section">
    <div class="container">
      <div class="row mb30">
        <div class="col-md-8 col-md-offset-2 probootstrap-section-heading text-center">
          <h2>Explore Nossos Serviços</h2>
          <p class="lead">Viajar é colecionar memórias sobre o mundo. Não perca tempo, venha conhecer o que há de melhor no ramo turístico.</p>
          <p><img alt="A imagem não foi carregada corretamente." src="<?php echo base_url(); ?>assets/img/curve.svg" class="svg" alt="Free HTML5 Bootstrap Template"></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service left-icon probootstrap-animate">
            <div class="icon">
              <img alt="A imagem não foi carregada corretamente." src="<?php echo base_url(); ?>assets/img/flaticon/svg/001-building.svg" class="svg" alt="Free HTML5 Bootstrap Template by uicookies.com">
            </div>
            <div class="text">
              <h3>Milhares de Quartos e Hotéis</h3>
              <p>Seja para onde quer que você vá, pode se sentir em casa com a Atlantis. Confira centenas de hotéis e milhares de quartos em cada cantinho do globo!</p>
              <p><a href="<?php echo base_url(); ?>pagina/sobre" class="link-with-icon">Ler Mais <i class=" icon-chevron-right"></i></a></p>
            </div>  
          </div>
        </div>
        <div class="col-md-4">
          <div class="service left-icon probootstrap-animate">
            <div class="icon">
              <img alt="A imagem não foi carregada corretamente." src="<?php echo base_url(); ?>assets/img/flaticon/svg/003-restaurant.svg" class="svg" alt="Free HTML5 Bootstrap Template by uicookies.com">
            </div>
            <div class="text">
              <h3>Comidas &amp; Bebidas</h3>
              <p>Viajar é experimentar coisas novas inclusive a culinária. Então confira o que preparamos para você em cada lugar que quiser estar!</p>
              <p><a href="<?php echo base_url(); ?>pagina/sobre" class="link-with-icon">Ler Mais <i class=" icon-chevron-right"></i></a></p>
            </div>  
          </div>
        </div>
        <div class="col-md-4">
          <div class="service left-icon probootstrap-animate">
            <div class="icon">
              <img alt="A imagem não foi carregada corretamente." src="<?php echo base_url(); ?>assets/img/flaticon/svg/004-parking.svg" class="svg" alt="Free HTML5 Bootstrap Template by uicookies.com">
            </div>
            <div class="text">
              <h3>Aeroporto Taxi</h3>
              <p>Comodidade e segurança são sempre prioridades. Inclua em suas reservas um motorista para te levar a qualeur lugar quando quiser!</p>
              <p><a href="<?php echo base_url(); ?>pagina/sobre" class="link-with-icon">Ler Mais <i class=" icon-chevron-right"></i></a></p>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="probootstrap-half">
    <div class="image" style="background-image: url(<?php echo base_url(); ?>assets/img/slider_5.jpg);"></div>
    <div class="text">
      <div class="probootstrap-animate fadeInUp probootstrap-animated">
        <h2 class="mt0">Melhor Hotel 5 estrelas</h2>
        <p><img alt="A imagem não foi carregada corretamente." src="<?php echo base_url(); ?>assets/img/curve_white.svg" class="seperator" alt="Free HTML5 Bootstrap Template"></p>
        <div class="row">
          <div class="col-md-6">
            <p>Pesquise a rede de hotel de sua preferência e encontre um quarto de hotel que seja perfeito para você. Encontre desde hotéis all inclusive em Portugal até hotéis baratos para hospedagens em grandes eventos e que oferecem economia!</p>
          </div>
          <div class="col-md-6"><p>Use os nossos mapas para encontrar e reservar uma hospedagem nos melhores hotéis, seja de frente para o mar, em um resort ou pousada e ainda, em um destino montanhoso. Temos hotéis fazenda e chalés. Compare os seguintes benefícios antes de sua reserva.</p>        
          </div>
        </div>
        <p><a href="<?php echo base_url(); ?>pagina/sobre" class="link-with-icon white" title="ler mais">Ler Mais <i class=" icon-chevron-right"></i></a></p>
      </div>
    </div>
  </section>