
<section class="probootstrap-slider flexslider probootstrap-inner">
  <ul class="slides">
    <li style="background-image: url(<?php echo base_url(); ?>assets/img/slider_4.jpg);" class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="probootstrap-slider-text text-center">
              <p><img alt="A imagem não foi carregada corretamente." src="<?php echo base_url(); ?>assets/img/curve_white.svg" class="seperator probootstrap-animate" alt="Free HTML5 Bootstrap Template"></p>
              <h1 class="probootstrap-heading probootstrap-animate"><?php echo $tema ?></h1>
              <div class="probootstrap-animate probootstrap-sub-wrap">Conheça a nossa história, nossos propósitos e nossos serviços.</div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>


<section class="probootstrap-section">
  <div class="container">
    <div class="row mb30">
      <div class="col-md-9">
        <figure>
          <a href="<?php echo base_url(); ?>assets/img/<?php echo $img; ?>" class="image-popup">
            <img alt="A imagem não foi carregada corretamente." src="<?php echo base_url(); ?>assets/img/<?php echo $img; ?>" alt="Free HTML5 Bootstrap Template by uicookies.com" class="img-responsive">
          </a>
        </figure>
      </div>
      <div class="col-md-3">
        <h2 class="mt0">Comentários</h2>
        <p>Fernando de Noronha é simplismente incível. Parece sonho, eu e meu marido passamos nossoa aniversário de casamento lá. O pessoal do hotel sempre cmuito atencioso e se preocupando com o nosso conforto. Foram 8 dias maravilhosos. Obrigada Atlantis!!!</p>
        <p><a href="<?php echo base_url(); ?>contato" class="btn btn-primary" role="button">Mandar Mensagem</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="text">
          <h3><?php echo $quarto?></h3>
          <div class="post-meta">
            <ul>
              <li><span class="review-rate">4.7</span> <i class="icon-star"></i> 252 Avaliações</li>
              <li><i class="icon-user2"></i> 2 Pessoas</li>
            </ul>
          </div>
          <p>Esta classe de suites oferece o que há de melhor nos quartos clássicos. Perfeito para quem quer descançar e aproveitar as férias.</p>
        </div>
      </div>
      <div class="col-md-7" style="margin-top: 5%;">
        <div class="owl-carousel owl-carousel-carousel">
          <div class="item">
            <div class="probootstrap-room">
              <a href="<?php echo base_url(); ?>assets/img/img_2.jpg" class="image-popup">
                <img alt="A imagem não foi carregada corretamente." src="<?php echo base_url(); ?>assets/img/img_2.jpg" class="img-responsive">
              </a>
            </div>
          </div>
          <div class="item">
            <div class="probootstrap-room">
              <a href="<?php echo base_url(); ?>assets/img/img_3.jpg" class="image-popup">
                <img alt="A imagem não foi carregada corretamente." src="<?php echo base_url(); ?>assets/img/img_3.jpg" class="img-responsive">
              </a>
            </div>
          </div>
          <div class="item">
            <div class="probootstrap-room">
              <a href="<?php echo base_url(); ?>assets/img/img_4.jpg" class="image-popup">
                <img alt="A imagem não foi carregada corretamente." src="<?php echo base_url(); ?>assets/img/img_4.jpg" class="img-responsive">
              </a>
            </div>
          </div>
          <div class="item">
            <div class="probootstrap-room">
              <a href="<?php echo base_url(); ?>assets/img/img_5.jpg" class="image-popup">
                <img alt="A imagem não foi carregada corretamente." src="<?php echo base_url(); ?>assets/img/img_5.jpg" class="img-responsive">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="probootstrap-section probootstrap-section-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="mt0">Porquê Escolher-nos?</h2>
        <p class="mb50"><img alt="A imagem não foi carregada corretamente." src="<?php echo base_url(); ?>assets/img/curve.svg" class="svg" alt="Free HTML5 Bootstrap Template"></p>
      </div>
      <div class="col-md-4">
        <div class="service left-icon left-icon-sm probootstrap-animate">
          <div class="icon">
            <i class="icon-check"></i>
          </div>            
          <div class="text">
            <h3>Milhares de Quartos e Hotéis</h3>
            <p>Seja para onde quer que você vá, pode se sentir em casa com a Atlantis. Confira centenas de hotéis e milhares de quartos em cada cantinho do globo!</p>
            <p><a href="#" class="link-with-icon">Ler Mais <i class=" icon-chevron-right"></i></a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service left-icon left-icon-sm probootstrap-animate">
          <div class="icon">
            <i class="icon-check"></i>
          </div>
          <div class="text">
            <h3>Comidas &amp; Bebidas</h3>
            <p>Viajar é experimentar coisas novas inclusive a culinária. Então confira o que preparamos para você em cada lugar que quiser estar. Não perca esta chance!</p>
            <p><a href="#" class="link-with-icon">Ler Mais <i class=" icon-chevron-right"></i></a></p>
          </div>  
        </div>
      </div>
      <div class="col-md-4">
        <div class="service left-icon left-icon-sm probootstrap-animate">
          <div class="icon">
            <i class="icon-check"></i>
          </div>
          <div class="text">
            <h3>Aeroporto Taxi</h3>
            <p>Comodidade e segurança são sempre prioridades. Inclua em suas reservas um motorista para te levar a qualeur lugar quando quiser!</p>
            <p><a href="#" class="link-with-icon">Ler Mais <i class=" icon-chevron-right"></i></a></p>
          </div>  
        </div>
      </div>
    </div>
  </div>
</section>

<section class="probootstrap-section">
  <div class="container">
    <div class="row probootstrap-gutter40">
      <div class="col-md-8">
        <h2 class="mt0">Ficha de Reserva</h2>
        <form action="#" method="post" class="probootstrap-form">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="fname">Primeiro Nome</label>
                <input type="text" class="form-control" id="fname" name="fname" required="true" onchange="validar_nom('fname')">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="lname">Último Nome</label>
                <input type="text" class="form-control" id="lname" name="lname" required="true" onchange="validar_nom('lname')">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <div class="form-field">
              <i class="icon icon-mail"></i>
              <input type="email" class="form-control" id="email" name="email" required="true" onchange="validar_email('email')">
            </div>
          </div>
          <div class="form-group">
            <label for="room">Quarto</label>
            <div class="form-field">
              <i class="icon icon-chevron-down"></i>
              <select name="room" id="room" class="form-control" required="true" onchange="validar_select('room')">
                <option value="">Selecionar um Quarto</option>
                <option value="1">Classic</option>
                <option value="2">Ultra Superior</option>
                <option value="3">Grand Deluxe</option>
                <option value="4">Suite Lois</option>
                <option value="5">Suite Master</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="date-arrival">Chegada</label>
                <div class="form-field">
                  <i class="icon icon-calendar2"></i>
                  <input type="text" class="form-control" id="date-arrival" name="date-arrival" required="true" onchange="validar_ass('date-arrival')">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="date-departure">Partida</label>
                <div class="form-field">
                  <i class="icon icon-calendar2"></i>
                  <input type="text" class="form-control" id="date-departure" name="date-departure" required="true" onchange="validar_ass('date-departure')">
                </div>
              </div>
            </div>
          </div>

          <div class="row mb30">
            <div class="col-md-6">
              <div class="form-group">
                <label for="adults">Adultos</label>
                <div class="form-field">
                  <i class="icon icon-chevron-down"></i>
                  <select name="adults" id="adults" class="form-control" required="true" onchange="validar_select('adults')">
                    <option value="">Número de Adultos</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4+</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="children">Crianças</label>
                <div class="form-field">
                  <i class="icon icon-chevron-down"></i>
                  <select name="children" id="children" class="form-control" required="true" onchange="validar_select('children')">
                    <option value="">Número de Crianças</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4+</option>
                  </select>
                </div>

              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary btn-lg" id="submit" name="submit" value="Reserve">
          </div>
        </form>
      </div>
      <div class="col-md-4">
        <h2 class="mt0">Comentários</h2>
        <p>Fernando de Noronha é simplismente incível. Parece sonho, eu e meu marido passamos nossoa aniversário de casamento lá. O pessoal do hotel sempre cmuito atencioso e se preocupando com o nosso conforto. Foram 8 dias maravilhosos. Obrigada Atlantis!!!</p>
        <p><a href="<?php echo base_url(); ?>contato" class="btn btn-primary" role="button">Mandar Mensagem</a></p>
      </div>
    </div>
  </div>
</section>

<section class="probootstrap-half">
  <div class="image" style="background-image: url(<?php echo base_url(); ?>assets/img/slider_2.jpg);"></div>
  <div class="text">
    <div class="probootstrap-animate fadeInUp probootstrap-animated">
      <h2 class="mt0">Melhor Hotel 5 estrelas</h2>
      <p><img alt="A imagem não foi carregada corretamente." src="<?php echo base_url(); ?>assets/img/curve_white.svg" class="seperator" alt="Free HTML5 Bootstrap Template"></p>
      <div class="row">
        <div class="col-md-6">
          <p>Pesquise a rede de hotel de sua preferência e encontre um quarto de hotel que seja perfeito para você. Encontre desde hotéis all inclusive em Portugal até hotéis baratos para hospedagens em grandes eventos e que oferecem economia!</p>
        </div>
        <div class="col-md-6"><p>Use os nossos mapas para encontrar e reservar uma hospedagem nos melhores hotéis, seja de frente para o mar, em um resort ou pousada e ainda, em um destino montanhoso. Temos hotéis fazenda e chalés. Compare os seguintes benefícios antes de sua reserva.</p>        
        </div>
      </div>
      <p><a href="#" class="link-with-icon white">Ler Mais <i class=" icon-chevron-right"></i></a></p>
    </div>
  </div>
</section>